basePath: /v1/user
definitions:
  forms.PasswordLoginForm:
    properties:
      captcha:
        type: string
      captcha_id:
        type: string
      mobile:
        description: 手机号码 自定义validator
        type: string
      password:
        description: 密码
        maxLength: 20
        minLength: 3
        type: string
    required:
    - mobile
    - password
    type: object
  forms.RegisterForm:
    properties:
      code:
        description: 短信验证码
        maxLength: 5
        minLength: 5
        type: string
      mobile:
        description: 手机号码 自定义validator
        type: string
      password:
        description: 密码
        maxLength: 20
        minLength: 3
        type: string
    required:
    - code
    - mobile
    - password
    type: object
  response.UserResponse:
    properties:
      birthday:
        description: Birthday time.Time `json:"birthday"`
        type: string
      gender:
        type: string
      id:
        type: integer
      mobile:
        type: string
      nickName:
        type: string
    type: object
  utils.Meta:
    properties:
      request_id:
        type: string
    type: object
  utils.Response:
    properties:
      code:
        description: 业务状态码
        type: integer
      data:
        description: 响应数据
      meta:
        allOf:
        - $ref: '#/definitions/utils.Meta'
        description: Meta 源数据,存储如请求ID,分页等信息
      msg:
        description: 提示信息
        type: string
    type: object
host: 127.0.0.1:18022
info:
  contact:
    name: zhengpanone
    url: http://127.0.0.1:18022/swagger/index.html
  description: 慕学商城项目，提供用户的查询、创建、更新等功能。
  title: 用户管理
  version: "1.0"
paths:
  /v1/user/list:
    get:
      consumes:
      - application/json
      description: 获取用户列表
      operationId: /v1/user/list
      parameters:
      - description: token令牌
        in: header
        name: x-token
        required: true
        type: string
      - default: 1
        description: 页码
        in: query
        name: page
        required: true
        type: integer
      - default: 10
        description: 页面大小
        in: query
        name: size
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/response.UserResponse'
            type: array
      summary: 用户列表
      tags:
      - 用户管理
  /v1/user/pwd_login:
    post:
      consumes:
      - application/json
      description: 用户账号密码登录
      parameters:
      - description: 请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/forms.PasswordLoginForm'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/utils.Response'
            - properties:
                data: {}
              type: object
      summary: 用户登录
      tags:
      - 用户管理
  /v1/user/register:
    post:
      consumes:
      - application/json
      description: 用户注册
      parameters:
      - description: 请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/forms.RegisterForm'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/utils.Response'
            - properties:
                data: {}
              type: object
      summary: 用户注册
      tags:
      - 用户管理
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
tags:
- description: 提供oss的增删改查功能
  name: oss管理
