certifi==2024.2.2
charset-normalizer==3.3.2
Faker==24.1.1
grpcio==1.62.1
grpcio-tools==1.62.1
idna==3.6
loguru==0.7.2
passlib==1.7.4
peewee==3.17.1
protobuf==4.25.3
PyMySQL==1.1.0
python-consul2==0.1.5
python-dateutil==2.9.0.post0
requests==2.31.0
setuptools==69.2.0
six==1.16.0
urllib3==2.2.1
